@{ 
    this.ViewData["Title"] = "Home";
}

<div class="hero">
    <section class="home-slider owl-carousel">

        <vc:index-images></vc:index-images>

    </section>
</div>
      
<section>
 <div class="container  bg-info">
        <div class="row no-gutters no-gutters">
            <div class="col-md-12">
                <form class="form-group" method="post" asp-controller="Rooms" asp-action="Check">
                    <div class="row">
                        <div class="form-control col-md-3">
                            <input id="checkin_date" type="text" name="checkIn" class="checkin_date" placeholder="Check-in-date">
                        </div>
                        <div class="form-control col-md-3">
                            <input id="checkout_date" type="text" name="checkOut" class="checkout_date" placeholder="Check-out-date">
                        </div>

                        <div class="form-control col-md-2">
                            <label for="adults">Adults:</label>
                            <select name="adults" id="adults">
                                <option value="1">1 Adult</option>
                                <option value="2">2 Adult</option>
                                <option value="3">3 Adult</option>
                                <option value="4">4 Adult</option>
                            </select>
                        </div>
                        <div class="form-control col-md-3">
                            <label for="roomType">Room</label>
                            <select  name="roomType" id="roomType">
                                <option value="all">All</option>
                                <option value="single">Single Room</option>
                                <option value="double">Double Room</option>
                                <option value="tripple">Tripple Room</option>
                                <option value="family">Family Room</option>
                                <option value="luxury">Luxury Room</option>
                                <option value="superior">Superior Room</option>
                            </select>
                        </div>
                        <div class="form-control col-md-1">
                            <button type="submit" class="btn btn-info">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<partial name="_Services" />


<section class="ftco-section ftco-wrap-about ftco-no-pt ftco-no-pb">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-7 order-md-last d-flex">
                <div class="img img-1 mr-md-2 ftco-animate" style="background-image: url(https://www.travelmallnews.com/wp-content/uploads/2020/05/Virtual-Meetings-in-Hawaii-Four-Seasons-e1589413437317.jpg);"></div>
                <div class="img img-2 ml-md-2 ftco-animate" style="background-image: url(https://www.namestaj.rs/images/tekstovi/actualites_main_picture/hotel-four-seasons-maui-havaji%2006.jpg);"></div>
            </div>
            <div class="col-md-5 wrap-about pb-md-3 ftco-animate pr-md-5 pb-md-5 pt-md-4">
                <div class="heading-section mb-4 my-5 my-md-0">
                    <span class="subheading">About Paradise Hotel</span>
                    <h2 class="mb-4">Paradise Hotel the Most Recommended Hotel All Over the World</h2>
                </div>
                <p>Far far away, behind the world mountains, far from the countries, separated by daily routine there is an entry to the paradise!</p>
                <p><a asp-controller="Rooms" asp-action="OurRooms"  class="btn btn-secondary rounded">Reserve Your Room Now</a></p>
            </div>
        </div>
    </div>
</section>


<vc:superior-room-view-components></vc:superior-room-view-components>


<section class="ftco-section ftco-menu bg-light">
    <div class="container-fluid px-md-4">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Restaurant</span>
                <h2>Restaurant</h2>
            </div>
        </div>
        <div class="row">


          <vc:index-meals></vc:index-meals>
           

            <div class="col-md-12 text-center ftco-animate">
                <p><a asp-controller="Restaurant" asp-action="Paging" class="btn btn-primary rounded">View All Menu</a></p>
            </div>
        </div>
    </div>
</section>

<section class="instagram">
    <div class="container-fluid">
        <div class="row no-gutters justify-content-center pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">Photos</span>
             </div>
        </div>
        <div class="row no-gutters">
            <div class="col-sm-12 col-md ftco-animate">
                <a href="https://i.pinimg.com/474x/2b/46/2b/2b462b0ae5a010e8067f4c2dbc88e08c.jpg" class="insta-img image-popup" style="background-image: url(https://i.pinimg.com/474x/2b/46/2b/2b462b0ae5a010e8067f4c2dbc88e08c.jpg);">
                    <div class="icon d-flex justify-content-center">
                        <span class="icon-instagram align-self-center"></span>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-md ftco-animate">
                <a href="https://damhyul3s75yv.cloudfront.net/photos/3228/original_Pools%20and%20Pacific%20Ocean-Ritz-Carlton%20Kapalua%20Maui.jpg?1321068168" class="insta-img image-popup" style="background-image: url(https://damhyul3s75yv.cloudfront.net/photos/3228/original_Pools%20and%20Pacific%20Ocean-Ritz-Carlton%20Kapalua%20Maui.jpg?1321068168);">
                    <div class="icon d-flex justify-content-center">
                        <span class="icon-instagram align-self-center"></span>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-md ftco-animate">
                <a href="https://cf.bstatic.com/images/hotel/max1280x900/343/34334712.jpg" class="insta-img image-popup" style="background-image: url(https://cf.bstatic.com/images/hotel/max1280x900/343/34334712.jpg);">
                    <div class="icon d-flex justify-content-center">
                        <span class="icon-instagram align-self-center"></span>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-md ftco-animate">
                <a href="images/insta-4.jpg" class="insta-img image-popup" style="background-image: url(images/insta-4.jpg);">
                    <div class="icon d-flex justify-content-center">
                        <span class="icon-instagram align-self-center"></span>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-md ftco-animate">
                <a href="https://media-cdn.tripadvisor.com/media/photo-s/05/2e/ae/83/four-seasons-resort-maui.jpg" class="insta-img image-popup" style="background-image: url(https://media-cdn.tripadvisor.com/media/photo-s/05/2e/ae/83/four-seasons-resort-maui.jpg);">
                    <div class="icon d-flex justify-content-center">
                        <span class="icon-instagram align-self-center"></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>