@model IEnumerable<RoomCheckViewModel>


@{
    ViewData["Title"] = "Check";

}


    <div class="hero-wrap" style="background-image: url('https://media.cntraveler.com/photos/5ea9066dcf46c80009a9fd49/master/pass/11Lekkerwater-Beach-Lodge---Bedroom-at-night.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text d-flex align-itemd-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
                    <div class="text">
                        <h1 class="mb-4 bread">Rooms</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        @foreach (var room in this.Model)
        {
            <div class="col-lg-6 col-xl-4 d-flex">
                <div class="pricing-entry rounded d-flex ftco-animate fadeInUp ftco-animated">
                    <div class="img" style="background-image: url(@room.Image);"></div>
                    <div class="desc p-4">
                        <div class="d-md-flex text align-items-start">
                            <h3><span>@room.RoomType.ToString()</span></h3>
                            <span class="price">$@room.Price</span>
                        </div>
                        <div class="d-block">
                            <p>@room.RoomCount rooms left!</p>
                            <a class="btn btn-info" asp-controller="Rooms" asp-action="Details" asp-route-id="@room.Id">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>



