<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@this.ViewData["Title"] Restasurant Paradise</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="~/restCss/nivo-slider.css" type="text/css" />
    <link rel="stylesheet" href="~/restCss/owl.carousel.css">
    <link rel="stylesheet" href="~/restCss/bootstrap.min.css">
    <link rel="stylesheet" href="~/restCss/font-awesome.min.css">
    <link rel="stylesheet" href="~/restCss/style.css">
    <link rel="stylesheet" href="~/restCss/responsive.css">

    <style>
        body {
            background-image: url('https://envato-shoebox-0.imgix.net/7450/7f97-50aa-4bd2-a5c7-86c96a6cb2f0/DSC_1318.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=1600&s=181582901222b1d47a278609fce10410');
            background-size: cover
        }
    </style>

    <script src="~/restJs/jquery.min.js" type="text/javascript"></script>
    <script src="~/restJs/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/restJs/jquery.nivo.slider.js" type="text/javascript"></script>
    <script src="~/restJs/owl.carousel.min.js" type="text/javascript"></script>
    <script src="~/restJs/jquery.nicescroll.js"></script>
    <script src="~/restJs/jquery.scrollUp.min.js"></script>
    <script src="~/restJs/main.js" type="text/javascript"></script>

</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div> <!-- End of /.navbar-header -->

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav nav-main">
                    <li><a href="/">Hotel</a></li>
                    <li><a asp-controller="Restaurant" asp-action="Paging">Products</a></li>
                    <li><a asp-controller="Restaurant" asp-action="Blog">Videos</a></li>

                    <li class="dropdown">
                        <a href="#">
                            Recipe Factory
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a asp-controller="Restaurant" asp-action="Recipe">Today's Recipe</a></li>
                            <li><a asp-controller="Recipes" asp-action="Add">Add Recipe</a></li>
                            <li><a asp-controller="Recipes" asp-action="All">All Recipes</a></li>
                            <li><a asp-controller="Recipes" asp-action="MyRecipes">My Recipes</a></li>
                        </ul>
                    </li> <!-- End of /.dropdown -->


                    @if (this.User.Identity.IsAuthenticated == false)
                    {
        <li>
            <div class="cart dropdown">
                <a href="/Identity/Account/Login"><i class="fa fa-shopping-cart"></i> My Cart</a>
            </div>
        </li>
                        <li><a href="/Identity/Account/Login">Login</a></li>
                                        <li><a href="/Identity/Account/Register">Register</a></li>
 }
                                    else
                                    {
                        <li>
                            <div class="cart dropdown">
                                <a href="/Carts/MyCart"><i class="fa fa-shopping-cart"></i> My Cart</a>
                            </div>
                        </li>
                                        <li><a href="/Users/Logout">Logout</a></li>}


                </ul> <!-- End of /.nav-main -->
            </div>
        </div>
    </nav>

    @RenderBody()

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="block clearfix">
                        <a href="#">
                            <img src="images/footer-logo.png" alt="">
                        </a>
                        <p>
                            Our restaurant have international kitchen meals with fresh products.We have delivery too.
                        </p>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="block">
                        <h4>GET IN TOUCH</h4>
                        <p><i class="fa  fa-map-marker"></i> <span>Paradise restaurant, </span>Canary slands.Home office Bulgaria</p>
                        <p> <i class="fa  fa-phone"></i> <span>Phone:</span>+359 888 777777</p>

                        <p class="mail"><i class="fa  fa-envelope"></i>Email: <span>paradise@gmail.com</span></p>
                    </div>
                </div>

            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="cash-out pull-left">
                                <li>
                                    <a href="#">
                                        <img src="images/American-Express.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/PayPal.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/Maestro.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/Visa.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/Visa-Electron.png" alt="">
                                    </a>
                                </li>
                            </ul>
                            <p class="copyright-text pull-right"> Copyright &copy; All rights reserved @DateTime.UtcNow.AddHours(2)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <a id="back-top" href="#"></a>

    @RenderSection("Scripts", false)
</body>
</html>