@{
    this.Layout = "_LayoutRestaurant";
}




<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-9 clearfix">
                <ul class="blog-zone">
                    <li>
                        <div class="blog-icon">
                            <i class="fa  fa-pencil"></i>
                        </div>
                        <div class="blog-box">
                            <img src="https://studybreaks.com/wp-content/uploads/2018/02/Food-Blog.jpg" alt="">

                            <div class="blog-post-body clearfix">
                               <a asp-controller="Restaurant" asp-action="Blog">
                                    <h2>Cooking tips tricks</h2>
                                </a>*
                                <div class="blog-post-tag">
                                    <div class="block">
                                        <i class="fa fa-clock-o"></i>
                                        <p>12 Jan,2014</p>
                                    </div>
                                    <div class="block">
                                        <i class="fa fa-user"></i>
                                        <p>Admin</p>
                                    </div>
                                    <div class="block">
                                        <i class="fa fa-tags"></i>
                                        <p>
                                            <a href="">Food Culture</a>,
                                            <a href="">Green Items</a>
                                        </p>
                                    </div>
                                    <div class="block">
                                        <i class="fa fa-comments"></i>
                                        <p>3 Comments</p>
                                    </div>
                                </div>
                                <p>Watch usefull videos and Improve your cooking skills!</p>
                                <a href="blog-single.html" class="btn btn-default btn-transparent pull-right" role="button">
                                    <span>Read More</span>
                                </a>
                            </div>
                        </div>	<!-- End of /.blog-box -->
                    </li>
                    <li>
                        <div class="blog-icon">
                            <i class="fa  fa-video-camera"></i>
                        </div>

                        <!-- Youtube -->
                        <div class="blog-box">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/9_5wHw6l11o" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <hr />
                            <hr />
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/1kRcUKux2aU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <hr />
                            <hr />
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/WEDndTCyGgU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <hr />
                            <hr />
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/UYhKDweME3A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <hr />
                            <hr />
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/L6yX6Oxy_J8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <div class="blog-post-body clearfix">
                                <a href="blog-single.html">
                                    <h2>Youtube Video Post Type Example</h2>
                                </a>
                                <div class="blog-post-tag">
                                    <div class="block">
                                        <i class="fa fa-clock-o"></i>
                                        <p>12 Jan,2014</p>
                                    </div>
                                    <div class="block">
                                        <i class="fa fa-user"></i>
                                        <p>Admin</p>
                                    </div>
                                    <div class="block">
                                        <i class="fa fa-tags"></i>
                                        <p>
                                            <a href="">Food Culture</a>,
                                            <a href="">Green Items</a>
                                        </p>
                                    </div>
                                    <div class="block">
                                        <i class="fa fa-comments"></i>
                                        <p>3 Comments</p>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, nostrum inventore debitis accusantium natus praesentium enim sequi culpa provident dignissimos veniam deserunt voluptatibus fugit delectus pariatur numquam optio quidem illo. Obcaecati, placeat, enim accusantium sunt inventore sed dolorum molestiae ab consequuntur voluptatem dolor necessitatibus reprehenderit adipisci explicabo hic quibusdam pariatur!</p>
                                <a href="blog-single.html" class="btn btn-default btn-transparent pull-right" role="button">
                                    <span>Read More</span>
                                </a>
                            </div>
                        </div>	<!-- End of /.blog-box -->
                    </li>
                    <li>
                        <div class="blog-icon">
                            <i class="fa fa-music"></i>
                        </div>

                      
                    </li>
                </ul>	<!-- End of /.blog-zone -->
                <!-- Pagination -->
                
            </div>	<!-- End of /.col-md-9 -->

            <div class="col-md-3">
                <div class="blog-sidebar">
                    <div class="block">
                        <h4>Categories</h4>
                        <div class="list-group">
                            <a asp-controller="Restaurant" asp-action="Italian" class="list-group-item">
                                <i class="fa  fa-dot-circle-o"></i>
                                Italian Foods
                            </a>
                            <a asp-controller="Restaurant" asp-action="Traditional" class="list-group-item">
                                <i class="fa  fa-dot-circle-o"></i>
                                Traditional Food
                            </a>
                            <a asp-controller="Restaurant" asp-action="Indian" class="list-group-item">
                                <i class="fa  fa-dot-circle-o"></i>
                                Indian Food
                            </a>
                            <a asp-controller="Restaurant" asp-action="Spanish" class="list-group-item">
                                <i class="fa  fa-dot-circle-o"></i>
                                Spanish Food
                            </a>
                            <a asp-controller="Restaurant" asp-action="Bulgarian" class="list-group-item">
                                <i class="fa  fa-dot-circle-o"></i>
                                Bulgarian Food
                            </a>
                        </div>
                    </div>	<!-- End of /.block -->
                    <div class="block">
                        <h4>Popular Posts</h4>
                        <ul class="media-list">
                            <li class="media">
                                <a class="pull-left" href="#">
                                    <img class="media-object" src="images/post-img.png" alt="...">
                                </a>
                                <div class="media-body">
                                    <a href="" class="media-heading">
                                        Lorem ipsum dolor
                                    </a>
                                    <p>January 10,2014</p>
                                </div>
                            </li>	<!-- End of /.media -->
                            <li class="media">
                                <a class="pull-left" href="#">
                                    <img class="media-object" src="images/post-img-2.png" alt="...">
                                </a>
                                <div class="media-body">
                                    <a href="" class="media-heading">
                                        Mauris blandit aliquet
                                    </a>
                                    <p>January 10,2014</p>
                                </div>
                            </li>	<!-- End of /.media -->
                            <li class="media">
                                <a class="pull-left" href="#">
                                    <img class="media-object" src="images/post-img-3.png" alt="...">
                                </a>
                                <div class="media-body">
                                    <a href="" class="media-heading">
                                        Quisque velit nisi
                                    </a>
                                    <p>January 10,2014</p>
                                </div>
                            </li>	<!-- End of /.media -->
                        </ul>	<!-- End of /.media-list -->
                    </div>	<!-- End of /.block -->

                    <div class="block">
                        <h4>Tag Cloud</h4>
                        <div class="tag-link">
                            <a href="">BALLET</a>
                            <a href="">BLOG</a>
                            <a href="">CHRISTMAS</a>
                            <a href="">ELEGANCE</a>
                            <a href="">ELEGANT</a>
                            <a href="">SHOPPING</a>
                            <a href="">SHOP</a>
                            <a href="">PHOTOGRAPHY</a>
                        </div>
                    </div>	<!-- End of /.block -->

                </div>	<!-- End of /.blog-sidebar -->
            </div>	<!-- End of /.col-md-3 -->
        </div>	<!-- End of /.row -->
    </div>	<!-- End of /.container -->
</section>	<!-- End of /#Blog -->
