@{
    this.Layout = "_LayoutRestaurant";
    this.ViewData["Title"] = "Videos";
}

<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-9 clearfix">
                <ul class="blog-zone">
                    <li>
                        <div class="blog-icon">
                            <i class="fa  fa-pencil"></i>
                        </div>
                        <div class="blog-box">
                            <img src="https://studybreaks.com/wp-content/uploads/2018/02/Food-Blog.jpg" alt="">
                            <div class="blog-post-body clearfix">
                                <a asp-controller="Restaurant" asp-action="Blog">
                                    <h2>Cooking Tips&Tricks</h2>
                                </a>*
                                <div class="blog-post-tag">
                                    <div class="block">
                                        <i class="fa fa-clock-o"></i>
                                        <p>@DateTime.UtcNow.AddHours(2)</p>
                                    </div>>
                                </div>
                                <p>Watch useful videos and improve your cooking skills!</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="blog-icon">
                            <i class="fa  fa-video-camera"></i>
                        </div>
                        <div class="blog-box">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/9_5wHw6l11o" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <hr />
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/1kRcUKux2aU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <hr />
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/WEDndTCyGgU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <hr />
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/UYhKDweME3A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <hr />
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/L6yX6Oxy_J8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </li>
                    <li>
                        <div class="blog-icon">
                            <i class="fa fa-music"></i>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="blog-sidebar">
                    <div class="block">
                        <h4>Categories</h4>
                        <div class="list-group">
                            <a asp-controller="Restaurant" asp-action="Italian" class="list-group-item">
                                <i class="fa  fa-dot-circle-o"></i>
                                Italian Foods
                            </a>
                            <a asp-controller="Restaurant" asp-action="Traditional" class="list-group-item">
                                <i class="fa  fa-dot-circle-o"></i>
                                Traditional Food
                            </a>
                            <a asp-controller="Restaurant" asp-action="Indian" class="list-group-item">
                                <i class="fa  fa-dot-circle-o"></i>
                                Indian Food
                            </a>
                            <a asp-controller="Restaurant" asp-action="Spanish" class="list-group-item">
                                <i class="fa  fa-dot-circle-o"></i>
                                Spanish Food
                            </a>
                            <a asp-controller="Restaurant" asp-action="Bulgarian" class="list-group-item">
                                <i class="fa  fa-dot-circle-o"></i>
                                Bulgarian Food
                            </a>
                        </div>
                    </div>
                    <div class="block">
                        <h4>Our Suggestions</h4>
                        <ul class="media-list">

                            <vc:random-products></vc:random-products>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
