@model IEnumerable<ProductsAllViewModel>

@{
    ViewData["Title"] = "Search";
    this.Layout = "_LayoutRestaurant";
}

<section id="shop">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div>
                    <form action="/Restaurant/Search" method="get">
                        <input type="text" name="name" />
                        <button type="submit">Search</button>
                    </form>
                </div>	<!-- End of /.Products-heading -->
                <div class="product-grid">
                    <ul>
                        @foreach (var product in this.Model)
                        {
                            <li>
                                <div class="products">
                                    <a asp-controller="Restaurant" asp-action="Product" asp-route-id="@product.Id">
                                        <img src="@product.Image" alt="">
                                    </a>
                                    <a href="#">
                                        <h4>@product.Name</h4>
                                    </a>
                                    <p class="price">£@product.Price</p>
                                    >
                                </div>	
                            </li>
                        }
                    </ul>
                </div>	
            </div>	
            <div class="col-md-3">
                <div class="blog-sidebar">
                    <div class="block">
                        <h4>Categories</h4>
                        <div class="list-group">
                            <a asp-controller="Restaurant" asp-action="Italian" class="list-group-item">
                                <i class="fa  fa-dot-circle-o"></i>
                                Italian Foods
                            </a>
                            <a asp-controller="Restaurant" asp-action="Traditional" class="list-group-item">
                                <i class="fa  fa-dot-circle-o"></i>
                                Traditional Food
                            </a>
                            <a asp-controller="Restaurant" asp-action="Italian" class="list-group-item">
                                <i class="fa  fa-dot-circle-o"></i>
                                Indian Food
                            </a>
                            <a asp-controller="Restaurant" asp-action="Spanish" class="list-group-item">
                                <i class="fa  fa-dot-circle-o"></i>
                                Spanish Food
                            </a>
                            <a asp-controller="Restaurant" asp-action="Bulgarian" class="list-group-item">
                                <i class="fa  fa-dot-circle-o"></i>
                                Bulgarian Food
                            </a>
                        </div>
                    </div>
                    <div class="block">
                        <img src="~/images/food-ad.png" alt="">
                    </div>
                    <div class="block">
                        <h4>Food Suggestions</h4>
                        <ul class="media-list">
                            <vc:random-products></vc:random-products>
                        </ul>
                    </div>
                </div>	
            </div>
        </div>
    </div>
</section>	
