@model UserCartAddProductViewModel

@{
    ViewData["Title"] = "My Cart";
    this.Layout = "_LayoutRestaurant";
}

<section id="shop">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="col-md-4 col-lg-offset-4">
                    <form asp-controller="Restaurant" asp-action="Search" method="get">
                        <input type="text" name="name" />
                        <button type="submit">Search</button>
                    </form>
                </div>	<!-- End of /.Products-heading -->
                <div class="product-grid">
                    <hr />
                    <hr />
                    <hr />
                    @if (this.Model.Products.Count == 0)
                    {
                        <div class="container-fluid mt-100">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">

                                        <div class="card-body cart">
                                            <div class="col-sm-12 empty-cart-cls text-center">
                                                <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
                                                <h3><strong>Your Cart is Empty</strong></h3>
                                                <a asp-controller="Restaurant" asp-action="Paging" class="btn btn-primary cart-btn-transform m-3" data-abc="true">continue shopping</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <ul>
                        @foreach (var product in this.Model.Products)
                        {
                            <li>
                                <div class="products">
                                    <a asp-controller="Restaurant" asp-action="Product" asp-route-id="@product.Id">
                                        <img src="@product.Image" width="280" height="240">
                                    </a>
                                    <a href="#">
                                        <h4>@product.Name</h4>
                                    </a>
                                    <p class="price">£@product.Price</p>

                                    <div>
                                        <form method="post" asp-controller="Carts" asp-action="Remove">
                                            <input type="hidden" name="productId" value="@product.Id" />
                                            <button type="submit" class="btn btn-danger">Remove</button>
                                        </form>
                                    </div>

                                </div>	<!-- End of /.products -->
                            </li>
                        }
                    </ul>
                </div>	<!-- End of /.products-grid -->

                @if (this.Model.TotalPrice != 0)
                {
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">
                                <h3>$@this.Model.TotalPrice <a class="btn btn-info" asp-controller="Restaurant" asp-action="Order">Order</a></h3>

                            </div>
                        </div>
                    </div>
                }
            </div>	<!-- End of /.col-md-9 -->
            <div class="col-md-3">
                <div class="blog-sidebar">
                    <div class="block">
                        <h4>Categories</h4>
                        <div class="list-group">
                            <a href="/Restaurant/Italian" class="list-group-item">
                                <i class="fa  fa-dot-circle-o"></i>
                                Italian Foods
                            </a>
                            <a href="/Restaurant/Traditional" class="list-group-item">
                                <i class="fa  fa-dot-circle-o"></i>
                                Traditional Food
                            </a>
                            <a href="/Restaurant/Indian" class="list-group-item">
                                <i class="fa  fa-dot-circle-o"></i>
                                Indian Food
                            </a>
                            <a href="/Restaurant/Spanish" class="list-group-item">
                                <i class="fa  fa-dot-circle-o"></i>
                                Spanish Food
                            </a>
                            <a href="/Restaurant/Bulgarian" class="list-group-item">
                                <i class="fa  fa-dot-circle-o"></i>
                                Bulgarian Food
                            </a>
                        </div>
                    </div>
                    <div class="block">
                        <img src="~/images/food-ad.png" alt="">
                    </div>
                    <div class="block">
                        <h4>Food Suggestions</h4>
                        <ul class="media-list">

                            <vc:random-products></vc:random-products>

                        </ul>
                    </div>
                </div>	<!-- End of /.col-md-3 -->
            </div>	<!-- End of /.row -->
        </div>	<!-- End of /.container -->
    </div>>
</section>	<!-- End of Section -->
