@model IEnumerable<IndexImageViewModel>

@foreach (var image in this.Model)
{
    <div class="slider-item" style="background-image: url(@image.Url);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-end">
                <div class="col-md-6 ftco-animate">
                    <div class="text">
                        <h2>Paradise Hotel &amp; Resort</h2>
                        <h1 class="mb-3">@image.Description</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
}